<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dagens Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style type="text/css">
      ol {
        margin-left: 2em;
      }
      li {
        margin-bottom: 0.5em;
      }
      .main {
        padding: 2em;
        margin: auto auto 2em;
        max-width: 800px;
      }
      .centered {
        display: flex;
        justify-content: center;
      }
      @media (max-width: 600px) {
        .section {
          padding: 0;
        }
        .main {
          margin-bottom: 0;
        }
      }
    </style>
  </head>
  <body class="has-background-grey-lighter">
    <section class="section">
      <div class="main card container has-background-white">
        <h1 class="title">
          <a href="https://dagensquiz.no">
            Dagens Quiz
          </a>
        </h1>
        <h2 class="subtitle">
          {{ date }}
        </h2>
        <ol>
          {% for question in questions %}
            <li>{{ question }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="main card container has-background-white">
        <h1 class="title">
          Dagens Fasit
        </h1>
        <h2 class="subtitle">
          {{ date }}
        </h2>
        <ol>
          {% for answer in answers %}
            <li>{{ answer }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="centered main card container has-background-white">
        <a href="/random">
          Mer quiz...
        </a>
      </div>
    </section>
  </body>
</html>